[Desktop Entry]
Type=Application
Name=Stream Protocol Handler
Exec=sh -c "vlc $(echo %u | sed 's/^.\{7\}//')"
StartupNotify=false
MimeType=x-scheme-handler/stream+http;
